{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-transform-regenerator"],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}
